<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Tracking App </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css">
</head>
<body>
    <div id="user-form">
        <div class="form-container">
            <h1>Enter Your Name</h1>
            <input type="text" id="username" placeholder="Enter your name" />
            <button id="startTracking">Start Tracking</button>
        </div>
    </div>
    <div id="map"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>